<h2 class="custom-header">
  Account Login
</h2>

<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username" />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" />
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>




<form method="post" action="/users/login">
    <input value="Guest User" type="hidden" class="form-control" name="username" placeholder="Username" />
    <input value="f8acd5eec2c7ae55399954ac5d" type="hidden" class="form-control" name="password" placeholder="Password" />
  <button type="submit" class="btn btn-default">Try as a Guest</button>
</form>
