
body {
  background: #55b188 center center fixed;
  background: -moz-linear-gradient(left,  #55b188 0%, #46a691 55%, #415e9b 90%);
  background-image: -webkit-linear-gradient(left,  #55b188 0%,#46a691 55%,#415e9b 90%);
  background-image: linear-gradient(to right,  #55b188 0%,#46a691 55%,#415e9b 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55b188', endColorstr='#415e9b',GradientType=1 );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: static;
}

.fixed-footer {
  position: fixed;
  bottom: 0%;
  right: 0%;
}


.header-navbar {
  position: relative;
  margin-bottom: 0px;
}

.custom-header{
  padding-bottom: 9px;
  margin: 0px 0 20px;
  margin-top: 25px;
  border-bottom: 1px solid #eee;
}
